/* GENERAL */

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #efefef;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #393c6c;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #f3735f;
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: 20px;
  text-align: left;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  color: #393c6c;
  line-height: 55px;
  margin-left: 20px;
}

/* ------------------------------------- */
/* -- HEADER ------------------------------------ */
/* ------------------------------------- */

header {
  background-color: white;
  border-bottom: 1px solid #f3735f;
  margin-bottom: 30px;
}

.container {
  width: 1024px;
  margin: 0 auto; /*marges latérales automatiques*/
  /*margin-top: 40px;
    /*background-color: red; à supprimer à la fin */
  /* text-align: center; */
}

section {
  background-color: white;
  padding: 60px 30px; /* marges internes*/
  border-radius: 20px;
}
.information {
  text-align: center;
  font-size: 12px;
  margin-top: 15px;
}
.time {
  margin: 0 auto;
  margin-top: 40px;
  background-color: rgb(192, 184, 184);
  width: 300px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  /*/ il faudra centrer le texte en hauteur*/
  color: white;
  border-radius: 5px;
}
p {
  line-height: 22px;
  margin-bottom: 20px0;
  margin-left: 20px;
}

header img {
  width: 230px;
  margin: 10px;
}

#pictures img {
  width: 250px;
  height: 250px;
  margin-top: 60px;
  margin-left: 50px;
  border-radius: 20px;
}

ul li {
  font-size: 15px;
  line-height: 25px;
  list-style-type: disc;
  margin-left: 35px;
}

/* ------------------------------------- */
/* -- FOOTER --------------------------------- */
/* ------------------------------------- */
footer {
  text-align: center;
  font-size: 13px;
  padding: 45px;
}
